*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.container{
    max-width:80%;
    padding:34px;
    margin: auto;
}
.container h1,p{
    text-align: center;
}
p{
    font-size:20px;
    
}
input,textarea{
    border:2px solid black;
    border-radius: 6px;
    outline:none;
    font-size: 15px;
    width:80%;
    margin:11px;
    padding: 7px;
    
}
form{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color: white;
    background-color: #5e6872;
    padding: 6px 15px;
    border: 2px solid beige;
    border-radius: 14px;
    cursor: pointer;
}
.img{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
}
.msg{
    font-style: italic;
    color: green;

}